<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>首页</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments ::  menu(1)">
</nav>
<!--中间内容-->
<div class=" m-padded-tb-large stackable ">
    <div class="ui container stackable">
        <div class="ui grid stackable" >
            <div class="eleven wide column stackable">
                <!--                header-->
                <div class="ui top attached segment stackable ">
                    <div class="ui grid two column middle stackable aligned">
                        <div class="column ">
                            <h2 class="ui teal header">博客</h2>
                        </div>
                        <div class="column right aligned stackable ">
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${count}">14</h2>篇
                        </div>
                    </div>
                </div>
                <!--                列表-->
                <div class="ui attached  segment">
                    <div class="ui mobile reversed stackable padded segment" th:each="blog : ${page.list}">
                                    <div class="ui grid"  >
                                        <div class=" eleven wide column">
                                            <div class="ui header">
                                                <h3 class="ui header link" >
                                                <a th:text="${blog.titile}" class="m-black"></a>

                                                </h3>
                                            </div>
                                            <p th:text="${blog.description}">我是文章的内容</p>
                                            <div class="ui grid">
                                                <div class="eleven wide column mini">
                                                    <div class="ui horizontal link list">
                                                        <div class="item">
                                                            <img class="ui avatar image" th:src="@{/image/logo.png}"
                                                                 style="width: 40px" height="40px" alt="我的二维码" >
                                                            <div class="content"><a href="#" class="header">dajuancai</a></div>
                                                        </div>
                                                        <div class="item">
                                                            <i class="calendar icon"></i><span th:text="${blog.update_time}"></span>
                                                        </div>
                                                        <div class="item">
                                                            <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="five wide column right aligned">
                                                    <a href="#" target="_blank" class="ui teal basic mini m-text-thin label" th:text="${blog.type}">
                                                        打开
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui five wide column">
                                            <a href="#" target="_blank">
                                                <img style="width: 200px;height: 150px"   th:src="${blog.first_picture}" th:alt="${blog.titile}">
                                            </a>
                                        </div>
                                    </div>
                                </div>


                </div>
                <!--                列表底部-->
                <div class="ui bottom attached segment">
                    <div class="ui grid two column middle aligned">
                        <div class="column ">
                            <a th:href="@{/(page=${page.nowPage} - 1)}" th:unless="${page.isFirst}" class="item">上一页</a>

                        </div>
                        <div class="column right aligned">
                            <a th:href="@{/(page=${page.nowPage} - 1)}" th:unless="${page.isLast}" class="item">上一页</a>

                        </div>
                    </div>
                </div>
            </div>
            <!--            右边小卡片的开发-->
            <div class="five wide column">
                <div class="ui  segments ">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="icon idea"></i>分类
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item"  th:each="type : ${types}">
                                <span th:text="${type.name}"></span>
                                <div class="ui teal left pointing basic label" th:text="${type.blogSize}">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui  segments m-margin-top">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="icon tags"></i>标签
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui  teal segment">
                        <a href="#" target="_blank" class="ui teal left pointing basic label m-margin-right" th:each="tag : ${tags}">
                            <span th:text="${tag.name}"></span>
                            <div class="detail" th:text="${tag.blogSize}">23</div>
                        </a>

                    </div>
                </div>
                <div class="ui  segments m-margin-top">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="icon bookmark"></i>最新推荐
                            </div>
                        </div>
                    </div>

                    <div class="ui segment" th:each="blog : ${recommend}">
                        <a href="#" target="_blank" class="m-black m-text-thin" th:text="${blog.titile}">hello world</a>
                    </div>
                </div>
                <h4 class="ui horizontal divider header m-margin-top">
                    扫码添加我为好友
                </h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/image/wechat.jpg" th:src="@{/image/wechat.jpg}" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer">
</footer>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>
</html>